body {
    background-color: RGB(7, 13, 27);
}

header {
    background-color: RGB(7, 13, 27);
}

.img1 {
    position: absolute;
    margin-left: 880px;
    width: 15px;
    margin-top: -8px;
}

li {
    display: inline;
    position: relative;
    left: 360px;
    padding: 15px;
    margin-top: -10px;
    margin-left: -10px;
    font-size: 11px;
}

.p1 {
    color: yellow;
    margin-top: 150px;
    margin-left: 220px;
    font-size: 30px;
}

.p2 {
    color: white;
    margin-top: -20px;
    margin-left: 220px;
    font-size: 50px;
}

.p3 {
    color: white;
    margin-top: -20px;
    margin-left: 220px;
    font-size: 30px;
}

.button1 {
    border-radius: 25px;
    width: 130px;
    height: 40px;
    background-color: rgb(254, 197, 68);
    margin-left: 220px;
    margin-top: 10px;
    border: 0px;
    border-color: yellow;
}

.button1:hover {
    background-color: antiquewhite;
    box-shadow: 2px 1px 5px 2px lightblue;
}

.link {
    border-top: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 0.00001px;
    /* width: 320px; */
    width: 520px;
    height: 70px;
    border-color: azure;
    border-style: solid;
    margin-left: 420px;
    margin-top: 150px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: rgb(16, 22, 36);
}

.button2 {
    height: 40px;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 12px;
    border-color: white;
    background-color: RGB(7, 13, 27);
    color: white;
    width: 100px;
    font-weight: bold;
}

.button3 {
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 15px;
    border-color: white;
    background-color: RGB(7, 13, 27);
    font-weight: bold;

}

.button4 {
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 15px;
    border-color: white;
    background-color: RGB(7, 13, 27);
    font-weight: bold;

}

.button5 {
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 15px;
    border-color: white;
    background-color: RGB(7, 13, 27);
    font-weight: bold;

}

.aboutme {
    font-size: 70px;
    font-weight: bold;
    color: rgba(143, 138, 138, 0.055);
    margin-top: 70px;
    text-align: center;
}

.aboutme1 {
    font-size: 20px;
    color: rgb(254, 197, 68);
    font-weight: 600;
    text-align: center;
    margin-top: -95px;
}

.w {
    margin-left: 600px;
    position: relative;
    margin-top: -30px;
    font-weight: 400;
}

.w1 {
    margin-left: 700px;
    position: absolute;
    position: relative;
    margin-top: -40px;
    font-weight: 400;
}

.y {
    position: absolute;
    margin-left: 650px;
    margin-top: -40px;
    color: rgb(254, 197, 68);
    font-weight: 600;
    font-weight: bold;
}

.hi {
    color: white;
    font-size: 30px;
    margin-left: 700px;
    margin-top: 60px;
}

.VisualDesigner {
    color: rgb(254, 197, 68);
    margin-left: 700px;
    margin-top: 20px;
    font-size: 20px;
}

.Iam {
    color: rgb(159, 158, 159);
    margin-left: 700px;
    font-size: 13px;
}

.bd {
    color: rgb(159, 158, 159);
    margin-left: 700px;
    font-size: 13px;
    line-height: 30px;
    margin-top: -10px;
}

.downloadcv {
    border-radius: 25px;
    width: 130px;
    height: 40px;
    background-color: rgb(254, 197, 68);
    margin-left: 700px;
    margin-top: 10px;
    border: 0px;
    border-color: yellow;
    font-size: 12px;
    color: black;
}

.downloadcv:hover {
    background-color: antiquewhite;
    box-shadow: 2px 1px 5px 2px lightblue;
}

.bg1 {
    background-color: rgb(10, 16, 30);
    margin-top: -30px;
    height: 600px;
}

.bg2 {
    background-color: rgb(10, 16, 30);
    height: 880px;
}

.card1 {
    width: 8cm;
    position: absolute;
    border-radius: 5px;
    margin-right: 650px;
    height: 9cm;
    background-color: rgb(16, 22, 36);
}

.card2 {
    position: relative;
    width: 8cm;
    border-radius: 5px;
    height: 9cm;
    background-color: rgb(16, 22, 36);
}

.card3 {
    width: 8cm;
    position: absolute;
    border-radius: 5px;
    height: 9cm;
    margin-left: 650px;
    background-color: rgb(16, 22, 36);
}


.card4 {
    width: 8cm;
    position: absolute;
    border-radius: 5px;
    margin-right: 650px;
    height: 9cm;
    margin-top: 730px;
    background-color: rgb(16, 22, 36);
}

.card5 {
    position: absolute;
    width: 8cm;
    border-radius: 5px;
    height: 9cm;
    background-color: rgb(16, 22, 36);
    margin-top: 730px;
}


.card6 {
    width: 8cm;
    position: absolute;
    border-radius: 5px;
    margin-left: 650px;
    height: 9cm;
    margin-top: 730px;
    background-color: rgb(16, 22, 36);
}

.ui {
    margin-top: 170px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.623);
}

.skill{
    color: white;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 30px;
    line-height: 35px;
}
.vis{
    color: rgba(255, 255, 255, 0.623);
    font-size: 13px;
margin-left: 250px;
}
.AdobePhotoshop{
    color: white;
    position: absolute;
    margin-left: 720px;
    margin-top: -240px;
}